* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: relative;
    text-decoration: none;
    color: black;
    font-family: "Rubik", sans-serif;
  }
  body{
    background-color: #F9EDFF;
  }
  
  main {
    width: 100%;
    height: auto;
  }
  /* barra de pesquisa */
  header {
    position: sticky; /* manter barra de pesquisa na tela */
    top: 0;
    border-radius: 0px 0px 24px 24px;
    width: 80%;
    height: 70px;
    background-color: #F9EDFF;
    margin: auto;
    font-size: 20px;
    z-index: 2;
    box-shadow:rgba(0, 0, 0, 0.445) 0px 3px 8px;
  }
  
 #menu_bar{
  visibility: hidden;
  position: relative;
 }

  #caixa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
  }
  
  li.navegacao {
    top: 25px;
    margin: 0px 40px 0px 40px;
    font-weight: 500;
  }
  
  .navegacao a:hover{
    color: #840694;
  }
  
  .navegacao a:active {
    background-color: #840694;
    color: white;
  }
  
  .navegacao a {
    padding: 15px;
    border-radius: 15px;
  }
  
  #logo {
    left: 25px;
    width: 102px;
    height: 42px;
    top: 15px;
  }
  
  #login {
    top: 15px;
    padding-left: 50px;
    padding-top: 10px;
    width: 100px;
    margin: 0px 15px 0px 12px;
    border-radius: 12px;
    background-color: #840694;
    transition-duration: 0.5s;
  }

  #login a{
    color: #f9edff;
    text-align: center;
    font-weight: 700;
  }
  
  #login:hover{
    background-color: #f4b625;
  }

  #login a:hover{
    background-color: transparent;
    color: #341c12;
  }

  /*Conteúdo da página*/

  .container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    position: relative;
    margin: 2% 5% 0 5%;
  }

  .sessoes_sobre_nos{
    width: 100%;
    margin-top: 2%;
    font-family: "Rubik", sans-serif;
    margin-bottom: 2%;
  }
  
  .sobre_nos{
    height: 13vh;
  }
  
  .titulo_sobre_nos{
    color: #840694;
    font-size: 58px;
    font-weight: 900;
  }
  
  .paragrafo_sobre_nos{
    color: #390040;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  hr{
    width: 100%;
    height: 2px;
    background-color: #000000;
    opacity: 20%;
  }

  .partes_da_sessao{
    font-family:"Rubik", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 1px;
  }

  #primeira_parte{
    background-color: #D9D9D9;
    border-radius: 12px;
    color: #390040;
    padding: 30px 35px 30px 35px;
    margin: 0 0 4rem 0;
  }

  #segunda_parte{
    background-color: #D9D9D9;
    border-radius: 12px;
    color: #390040;
    padding: 30px 35px 30px 35px;
    margin: 0 0 4rem 0;
  }

  #terceira_parte{
    background-color: #D9D9D9;
    border-radius: 12px;
    color: #390040;
    padding: 30px 35px 30px 35px;
    margin: 0 0 4rem 0;
  }

  strong{
    color: #840694;
    text-decoration: underline;
  }

  /*Imagens perto do footer*/

  .imagens_peludo{
    width: 100%;
    height: auto;
    position:relative;
    display:flex;
    top: 6rem;
  }

  .imagens_peludo #peludo_esq{
    position: absolute;

  }

  .imagens_peludo #peludo_dir{
    position: absolute;
    right: 0;
  }

/* rodape */
footer{
  margin-top: 65vh;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #390040;
}

#footer_content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: left;
}

.footer_list1,.footer_list2, #redes_sociais{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 120px;
}

.footer_list1, .footer_list2{
  gap: 20px;
}

footer ul{
  justify-content: unset;
}


.footer_link{
  color:#fff;
  opacity: 75%;
  font-size: 18px;
  transition: all 0.4s;
  text-align: left;
}

.footer_list1, .footer_list2, .footer_link:hover{
  color: #FFCA50;
}

.footer_titulos{
  left: 0;
  margin-top: 44px;
}

#redes_sociais{
  margin-left: 30px;
}

#redes_sociais .footer_titulos_redes{
  margin-top: 44px;
  color: #fff;
  font-size: 22px;
  left: 20%;
}

#footer_social_media .footer_link{
  display:inline;
}

#footer_social_media .footer_link i{
  font-size: 40px;
  padding: 20px;
  margin-top: 11px;
}

#footer_content .footer_titulos {
  color: #fff;
  font-size: 22px;
}

#footer_logo{
  justify-content:center;
  display: flex;
  background-color: #390040;
  text-align: center;
  padding-top: 50px;
}

#footer_logo img{
  width: 163.19px;
  margin-bottom: 9px;
}

#footer_logo p{
  color: #fff;
  opacity: 80%;
  align-self: center;
  font-size: 16px;
  margin-bottom: 21px;
}

/*responsivo celular*/
#icon{
  display: none;
}
@media screen and (max-width: 480px) {
    #icon {
      display: inline;
      height: 60%;
      margin-top: 13px;
      margin-left: 10px;
    }

  body{
    background-color: #fff;
  }

  header{
    width: 99%;
  }

  .navegacao{
    display: none;
  }

  #menu_bar{
    visibility: visible;
    margin-left: -14rem;
    margin-top: 1.2rem;
    font-size: 30px;
  }

    #logo{
    display: flex;
    margin-left: 7.5vh;
  }

  #login{
    text-align: center;
    padding: 3px 18px 3px 18px;
    height: auto;
    width: auto;
    height: min-content;
    margin-top: 0.3rem;
    border-radius: 15px;
  }

  .sobre_nos{
    height: 7vh;
  }

  .sessoes_sobre_nos{
    margin-top: 15%;
  }

  .titulo_sobre_nos, .paragrafo_sobre_nos{
    font-size: 24px;
  }

  .partes_da_sessao{
    font-size: 12px;
    letter-spacing: normal;
  }

  #primeira_parte, #segunda_parte, #terceira_parte{
    margin-bottom: 2rem;
    padding: 15px 30px;
    text-align: justify;
  }

  .imagens_peludo{
    top: 4rem;
  }

  .imagens_peludo #peludo_esq{
    width: 42%;
    height: auto;
  }

  .imagens_peludo #peludo_dir{
    width: 42%;
    height: auto;
  }
 
  /*footer*/
  footer{
    margin-top: 16.7vh;
    height: 50vh;
    justify-content: left;
  }

  #footer_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }

  .footer_list1,.footer_list2, #redes_sociais{
    margin-left: 35px;
  }

  .footer_list2{
    padding-left: 45px;
  }

  .footer_list1, .footer_list2{
    gap: 0px;
  }

  .footer_link{
    font-size: 8px;
  }

  .footer_titulos{
    margin-top: 30px;
  }

  #footer_content .footer_titulos{
    font-size: 10px;
  }

  #redes_sociais .footer_titulos_redes{
    font-size: 10px;
    margin-top: -21vh;
    margin-bottom: -0.9rem;
    left: 208px;
    text-wrap: nowrap;
  }

  #footer_social_media .footer_link i{
   font-size: 15px;
   padding: 5px;
   left: 204px;
  }

  #footer_logo{
    display: none;
  }
  
}
