* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: relative;
  text-decoration: none;
  color: black;
  font-family: "Rubik", sans-serif;
}
body {
  width: 100%;
}

main {
  width: 100%;
  height: auto;
  background-color: #351d12;
}
/* barra de pesquisa */
header {
  position: sticky; /* manter barra de pesquisa na tela */
  top: 0;
  border: black 1px solid;
  border-radius: 0px 0px 24px 24px;
  width: 80%;
  height: 70px;
  background-color: white;
  margin: auto;
  font-size: 20px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.445) 0px 3px 8px;
}

#caixa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

li.navegacao {
  top: 25px;
  margin: 0px 12px 0px 12px;
}

.navegacao a:hover {
  color: #840694;
}

.navegacao a:active {
  background-color: #840694;
  color: white;
}

.navegacao a {
  padding: 15px;
  border-radius: 15px;
}

#logo {
  left: 25px;
  width: 102px;
  height: 42px;
  top: 15px;
}

#login {
  top: 15px;
  padding-left: 50px;
  padding-top: 10px;
  width: 100px;
  margin: 0px 15px 0px 12px;
  border-radius: 12px;
  background-color: #840694;
  color: #f9edff;
  transition-duration: 0.5s;
  font-weight: 700;
}

#login a {
  color: white;
  text-align: center;
  font-weight: 700;
}

#login:hover {
  background-color: #f4b625;
  color: #351d12;
  transition: 0.5;
  font-weight: 700;
}
#login a:hover {
  color: rgb(0, 0, 0);
}

/* teste */

#banner {
  width: 90%;
  height: 560px;
  margin: auto;
  margin-top: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#cachorro {
  width: 99%;
  height: 99%;
}

#texto_banner {
  position: absolute;
  font-size: 55px;
  width: 54%;
  height: 25%;
  z-index: 1;
  top: 12%;
  left: 7%;
  font-weight: 800;
  word-wrap: break-word;
  color: white;
}

strong {
  color: #f4b625;
}

#texto_banner2 {
  color: white;
  font-size: 16px;
  position: absolute;
  width: 43%;
  height: 20%;
  top: 36%;
  left: 7%;
  z-index: 1;
  font-weight: 400;
}

#adote {
  position: absolute;
  width: 18%;
  height: 10%;
  bottom: 15%;
  left: 73%;
  border-radius: 12px;
  top: 430px;
  z-index: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  font-size: 20px;
  font-weight: 700;
  line-height: 149.986%;
  letter-spacing: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#adote:hover {
  background-color: #f4b625;
  transition: 0.2;
}

#adote p {
  color: #653623;
}

#destaque h1 {
  font-size: 50px;
  font-family: "Rubik", sans-serif;
  margin-top: 70px;
  margin-left: 90px;
  color: white;
}

#destaque2,
#destaque3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.item1 {
  background-color: #d9d9d9;
  width: 280px;
  height: 370px;
  border-radius: 24px;
  margin-top: 30px;
}
.item1 img {
  padding-left: 30px;
  padding-right: 25px;
  padding-top: 20px;
}

/*valor*/
.preco {
  padding-left: 75px;
  padding-top: 5px;
  font-size: 32px;
  font-weight: 700;
  color: #840694;
}

/*R$ pequeno*/
sup {
  color: #840694;
  font-size: 15px;
}

/* nome dos itens, primeira linha*/
.p1 {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}
/* nome dos itens, segunda linha*/
.p2 {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}

#compre {
  width: 85%;
  background-color: #f4b625;
  height: 35px;
  border-radius: 12px;
  margin-left: 20px;
  margin-right: 15px;
  margin-top: 10px;
  cursor: pointer;
}

#compre > p {
  text-align: center;
  padding-top: 7px;
  font-size: 15px;
  font-weight: 600;
}

/* Rodapé */
footer {
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #390040;
}

#footer_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: left;
}

.footer_list1,
.footer_list2,
#redes_sociais {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 120px;
}

.footer_list1,
.footer_list2 {
  gap: 20px;
}

footer ul {
  justify-content: unset;
}

.footer_link {
  color: #fff;
  opacity: 75%;
  font-size: 18px;
  transition: all 0.4s;
  text-align: left;
}

.footer_list1,
.footer_list2,
.footer_link:hover {
  color: #ffca50;
}

.footer_titulos {
  left: 0;
  margin-top: 44px;
}

#redes_sociais {
  margin-left: 30px;
}

#redes_sociais .footer_titulos_redes {
  color: #fff;
  font-size: 22px;
  left: 22%;
  top: 20px;
}

#footer_social_media .footer_link {
  display: inline;
}

#footer_social_media .footer_link i {
  font-size: 40px;
  padding: 20px;
  margin-top: 11px;
}

#footer_content .footer_titulos {
  color: #fff;
  font-size: 22px;
}

#footer_logo {
  justify-content: center;
  display: flex;
  background-color: #390040;
  text-align: center;
  padding-top: 50px;
}

#footer_logo img {
  width: 163.19px;
  margin-bottom: 9px;
}

#footer_logo p {
  color: #fff;
  opacity: 80%;
  align-self: center;
  font-size: 16px;
  margin-bottom: 21px;
}
@media only screen and (max-width:500px){
  #icon {
    display: inline;
    height: 60%;
    margin-top: 13px;
    margin-left: 10px;
  }
}
